{% extends "base.html" %}
{% load static %}
{%block title%}
home

{%endblock%}

{%block content%}
<!--{% load static %}-->
<hr>
<div class="header" style="background-color: rgb(99, 0, 0); margin-top:35px; padding-top: 25px;">
  <h2 class="text-center text-white" style="padding-top:15px;">ORDER YOUR FOOD</h2>
</div>
<!--food details-->

<div class="container text-center bg-danger ">
        {% for f in foods %}
        <div class="card text-center text-white mx-3 my-3 bg-dark" style="width:18rem; display:inline-block">
          <img class="card-img-top" src="{{f.img.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{f.food_name}}</h5>
            <p class="card-text">{{f.food_desc}}</p>
            <h5 class="card-title">${{f.food_price}}</h5>
            {% if user.is_authenticated %}
             <a href="{% url 'orders' %}" class="btn btn-primary">Order Now</a>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link text-white" href="register"><button class="bg-dark text-white">Order Now</button></a>
            </li>
            {% endif %}
          </div>
        </div>
        {% endfor %}
    </div>

{%endblock%}


